*{
  margin:0;
  font-family: Arial;
  border: border-box;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.nav-logo{
  height: 50px;
  width: 100px;
}
.logo {
  background-image: url(amazon_logo.png);
  background-size:cover;
  height: 50px;
  width: 100%;
}
.border{
  border: 2px solid transparent;

}
.border:hover {
  border: 1.5px solid white;

}
.add-first{
  color: #ffffff;
}
.add-sec{
  color: #cccccc;
  font-size: 1rem;
}
.nav-search{
  display: flex;
  background-color: pink;
  justify-content: space-evenly;
  width: 620px;
  height: 40x;
  border-radius: 4px;
}
.search-select{
  width: 50px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.search-input{
  width: 100%;
  height: 30px;
  font-size: 1rem;

}
.search:hover{
border:2px solid orange;
}
.search-icon{
  background-color: rgb(243, 170, 80);
  width: 50px;
}
.search-icon h6{
  margin-top: 10px;
  display: flex;
  justify-content:center;
}
span {
  font-size: 0.7rem;
}
.nav-second{
  font-size: 0.85rem;
  font-weight: 700px;
}
.nav-cart{
  font-size: 20px;
}
.panel{
  height: 30px;
  background-color: #0f1111;
  display: flex;
  color: white;
  align-items: center;
  justify-content:space-evenly;
}
.panel-all {
  width: 17px;
  height: 14px;
}
.panel-option a{
  display: inline;
  margin-left: 15px;
}
.panel-option{
  width: 72%;
  font-size: 0.85rem;
}
.hero-section{
  background-image: url(hero_image.jpg);
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

}
.hero-mssg{
  background-color: pink;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin-bottom: 25px;

}
.box{
  /**border: 2px solid black;**/
  height: 300px;
  width: 23%;
  background-color: white;
  margin-top: 15px;
  padding: 20px 0px 15px;
  margin-bottom: 15px;
  

}
.shop-section{
  display: flex;
  justify-content:space-evenly;
  background-color: #b7bfbd;

}
.shop-section h2 a {
  color: black;
}
.box-img{
  height: 250px;
  margin-left: 10px;
  margin-right: 10px;
  background-size: cover;
}
h2{
  text-align: center;
}
p{
  margin-left:10px;
  font-weight: 20px;

}
.shop-section2{
  background-image: url(alexa.jpg);
  height: 400px;
  justify-content: center;
  background-size:contain;
  margin-left: 10px;
  margin-right: 10px;
  margin-top:10px;
  align-items: baseline;
  color: white;
  display: flex;
}
.shop-section3{
  display: flex;
 justify-content: space-evenly;
}
.shop-section4{
  background-image: url(books.jpg);
  background-size: cover;
  border-top: 0.5px solid black;
  height: 400px;

}
.shop-section4 a{
  color: black;
  margin-top:10px;
 
}
.footer-sec1{
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
a{
  color: white;
  text-decoration: none;
}
.footer-sec2{
  background-color: #1a395f;
  height: 500px;
  color: white;
  display: flex;
  justify-content:space-evenly;

}
ul a {
  display: block;
  text-decoration: none;
  margin: 10px;

}
h4{
  margin-top: 20px;
}
.footer-sec3{
  background-color: #1a395f;
  color: white;
  border-top: 0.5px solid black;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.logo{
  background-image: url(amazon_logo.png);
  height: 40px;
  width: 100px;
}
.footer-lang{
  margin-left: 30px;
  border: none;
  background-color: #1a395f;
}
.search-select12{
  border: none;
  width: 90px;
  height: 20px;
}
.footer-sec4{
  background-color:black;
  color: white;
  border-top: 0.5px solid black;
 /* display: flex;
  justify-content: center;
  align-items: center;*/
  height: 50px;


}
.pages{
  font-size: 8px;
  text-align: center;
  margin-top: 15px;

}

